@font-face {
  font-family: "iconfont"; /* Project id 4747978 */
  src: url('iconfont.woff2?t=1755833272910') format('woff2'),
       url('iconfont.woff?t=1755833272910') format('woff'),
       url('iconfont.ttf?t=1755833272910') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chakan:before {
  content: "\e626";
}

.icon-jian:before {
  content: "\e642";
}

.icon-xinzeng:before {
  content: "\e619";
}

.icon-icon_519:before {
  content: "\e610";
}

.icon-user:before {
  content: "\e69f";
}

.icon-ai-avatar:before {
  content: "\e646";
}

.icon-drawer_top:before {
  content: "\e6eb";
}

.icon-drawer_left:before {
  content: "\e652";
}

.icon-drawer_bottom:before {
  content: "\e653";
}

.icon-drawer_right:before {
  content: "\e654";
}

