* {
  padding: 0;
  margin: 0;
}
:root {
  --color-font: #333333;
  --color-main-bg: #ffffff;
  --color-sider-bg: #f2f2f2;
  --color-header-bg: #f2f2f2;
  --color-content-bg: #f2f2f2;
  --color-main-button: #2080f0;
  --color-main-error: #e88080;
  --color-main-warn: #f2c97d;
  --color-main-success: #63e2b7;
  --color-main-divider: #e9e9e9;
  --fontSize-main-min: 12px;
  --fontSize-main-normal: 14px;
  --fontSize-main-max: 18px;
  --margin-mian: 10px;
  --margin-main-top: 10px;
  --margin-main-bottom: 10px;
  --margin-main-left: 8px;
  --margin-main-right: 8px;
  --padding-mian: 10px;
  --padding-main-top: 10px;
  --padding-main-bottom: 10px;
  --padding-mian-left: 8px;
  --padding-main-right: 8px;
  --main-gap: 4px;
}
